src/main/mule/sw-orders-sapi-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="sw-orders-sapi-raml-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="sw-orders-sapi-raml-config" api="resource::dbf43717-03d0-4c7c-b36b-37ff146429d7:sw-orders-sapi-raml:1.0.7:raml:zip:sw-orders-sapi-raml.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="sw-orders-sapi-raml-main">
        <http:listener config-ref="sw-orders-sapi-raml-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sw-orders-sapi-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="sw-orders-sapi-raml-console">
        <http:listener config-ref="sw-orders-sapi-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sw-orders-sapi-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customers\(id)\orders:sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getAllOrdersOfACustomer" doc:id="ea39f119-aac0-459a-9e8a-4c2879f73e82" name="getAllOrdersOfACustomer" />
    </flow>
    <flow name="get:\orders:sw-orders-sapi-raml-config">
        <flow-ref doc:name="getallorders" doc:id="f67b715c-b50f-483d-a3c9-b300de6f87de" name="getallorders" />
    </flow>
    <flow name="post:\orders:application\json:sw-orders-sapi-raml-config">
        <flow-ref doc:name="AddOrder" doc:id="ad43175d-2d44-4aa6-897d-4b225d26db68" name="AddOrder" />
        <ee:transform doc:name="Set Location Header and 201 status" doc:id="6c3dee5a-58cc-4698-9314-897a3ebf4dc2">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: "/orders/" ++ 
				(vars.orderId as String) default ""
}]]></ee:set-variable>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/json
---
"201"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="delete:\orders\(id):sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteorderbyorderid" doc:id="e86ce863-1113-4eab-9b43-67d8c6273a26" name="deleteorderbyoyderid" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Order deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(id):sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getOrderByOrderId" doc:id="b6ad923c-d93a-471d-a246-a946cec0032f" name="getOrderByOrderId" />
        <logger level="INFO" message="get:\orders\(id):sw-orders-sapi-raml-config" />
    </flow>
    <flow name="get:\orders\(id)\orderItems:sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="findOrderByOrderId" doc:id="f7b0049a-9c64-4ff5-a65a-5a125fc6262f" name="findOrderByOrderId" />
        <flow-ref doc:name="getOrderItemsByOrderId" doc:id="e15308f0-f904-4eb8-9ccc-2e3ead3e6575" name="getOrderItemsByOrderId" />
    </flow>
    <flow name="post:\orders\(id)\orderItems:application\json:sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message" doc:id="d9063720-fb60-49d3-803b-cd15e8e0a7a4">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="AddOrderItemToOrder" doc:id="4050df62-2547-4f7c-967a-1cb9035e531c" name="AddOrderItemToOrder" />
        <ee:transform doc:name="Transform Message" doc:id="a9a25fdf-5350-4423-ba60-b5d6d09e505d">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.orderItemAfterInserting]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
"201"]]></ee:set-variable>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: "/api/orders/" ++ vars.orderItemId as String
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="delete:\orders\(id)\orderItems\(orderItemId):sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="orderItemId">attributes.uriParams.'orderItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteOrderItemByOrderItemId" doc:id="5f9931e2-d721-41a9-b90e-4767bcb8e842" name="deleteOrderItemByOrderItemId"/>
		<choice doc:name="Choice" doc:id="38bceffe-6f03-46ad-afec-1a03468f3d80" >
			<when expression="#[payload == 0]">
				<raise-error doc:name="Raise error" doc:id="e3588d59-f4b9-4fe1-a301-8df5986a44f5" type="APP:DOESNOT_EXIST" description="OrderItem Doesn't Exist" />
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "OrderItem deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\orders\(id)\orderItems\(orderItemId):sw-orders-sapi-raml-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="orderItemId">attributes.uriParams.'orderItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getOrderItemByOrderItemIdandOrderId" doc:id="fd407eab-5aaf-4d8e-b04a-52432ed9a2eb" name="getOrderItemByOrderItemIdandOrderId"/>
		<logger level="INFO" message="get:\orders\(id)\orderItems\(orderItemId):sw-orders-sapi-raml-config" />
    </flow>
</mule>
